/*Then import Bootstrap and BootstrapVue SCSS files (order is important)**/
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "node_modules/bootstrap/scss/variables";

/****GLOBAL VAIRABLES **********/
$body_bg: #ffffff;
$lights: #ffffff;
$ascent_color: #3256ed;
$palid_ascent_color: #697fda;
$secondary_color: #f34c73;
$shadows: #161616;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/**********GLOBAL EXPORTS VAIRABLES*********/

:export {
  ascent_color: $ascent_color;
}

/******CUSTOM CLASSES*******/
.w-70 {
  width: 70% !important;
}

.h-40 {
  height: 40% !important;
}
.h-70 {
  height: 70% !important;
}
.mxh-70 {
  max-height: 70% !important;
}

.mxh-60 {
  max-height: 60% !important;
}

.mxh-50 {
  max-height: 50% !important;
}

.h-30 {
  height: 30% !important;
}
.bg-primary {
  background-color: $body_bg !important;
  color: $shadows;
}
.bg-secondary {
  background-color: $ascent_color !important;
}

a {
  color: $ascent_color !important;
}

.h-fitc {
  height: fit-content;
}

.w-fitc {
  width: fit-content;
}

.bold {
  font-weight: bold !important;
}

.bolder {
  font-weight: bolder !important;
}

.btn-primary {
  border-color: $ascent_color;
  box-shadow: none !important;
  &:focus,
  &:active,
  &:hover {
    box-shadow: none !important;
    border-color: $ascent_color;
  }
}

.badge-primary {
  border-color: $ascent_color;
  background-color: $ascent_color;
  color: white;
}

.btn-primary {
  color: $ascent_color;
  background-color: $body_bg !important;
}

.btn-outline-primary {
  color: $ascent_color;
  border-color: $ascent_color;
  &:hover {
    color: white;
    border-color: $ascent_color;
    background-color: $ascent_color;
  }
}

.btn-secondary {
  color: $ascent_color;
  background-color: $body_bg !important;
}

.btn-primary {
  &:focus,
  &:active {
    color: $ascent_color;
  }
  &:hover {
    color: $body_bg;
    background-color: $ascent_color !important;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}

.toast {
  opacity: 1 !important;
}

.input-group-text {
  color: $ascent_color;
  background-color: $lights;
  border-color: $ascent_color;
}

.toast-body.progressToast {
  padding: 0.75rem 0px 0px 0px;
}

.shadow {
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.987));
  /* Similar syntax to box-shadow */
}

.selectedShadow {
  -webkit-filter: drop-shadow(3px 3px 2px $palid_ascent_color);
  filter: drop-shadow(1em 2px 4px $palid_ascent_color);
  /* Similar syntax to box-shadow */
}

input:placeholder-shown {
  font-style: italic;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.carsExtended {
  & .card-header {
    &:deep .custom-control-input ~ .custom-control-label::before {
      transform: none;
    }
    &:deep .custom-control-input ~ .custom-control-label::after {
      transform: none;
    }
  }
}

/*********GLOBAL MEDIA QUERYS****************/
@media screen and (max-width: $breakpoint-md) {
  .cardVechicle {
    background: rgba(255, 255, 255, 0);
    & .card-header {
      border: none;
      padding: 0 !important;
      background: rgba(255, 255, 255, 0);
      & > div {
        padding: 1.4em 0.8em 1.4em 0.8em !important;
      }
      &:deep .custom-control-input:checked ~ .custom-control-label::before {
        transform: scale(1) !important;
      }
      &:deep .custom-control-input:checked ~ .custom-control-label::after {
        transform: scale(1) !important;
      }
      &::deep .custom-control-input {
        height: fit-content;
      }

      &:deep .custom-switch {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
    }
  }
}

/*******CUSTOM ANIMATIONS********/
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
